In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
match_path= "Resources/Matches_Results.csv"
odds_path= "Resources/Matches_Odds.csv"

In [3]:
matches=pd.read_csv(match_path)
odds=pd.read_csv(odds_path)

In [6]:
matches.head()

,match_id,date_start,competition_name,home_team_name,away_team_name,home_team_score,away_team_score,final_result
0,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x
1,2,12/26/2016 15:00,Eng. Premier League,Burnley,Middlesbrough,1,0,1
2,3,12/26/2016 15:00,Eng. Premier League,Manchester United,Sunderland,3,1,1
3,4,12/26/2016 15:00,Eng. Premier League,Swansea,West Ham,1,4,2
4,5,12/26/2016 15:00,Eng. Premier League,Arsenal,West Bromwich Albion,1,0,1

In [7]:
merged_df=pd.merge(matches, odds, on=["match_id"])

In [16]:
merged_df=merged_df.drop(columns=["date_start_y"])

In [23]:
merged_df

,match_id,date_start_x,competition_name_x,home_team_name_x,away_team_name_x,home_team_score,away_team_score,final_result,date_created,home_team_odd,away_team_odd,tie_odd
0,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 12:00,2.35,3.10,3.10
1,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 6:45,2.40,3.00,3.25
2,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 3:35,2.40,3.10,3.10
3,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/23/2016 19:45,2.45,2.90,3.25
4,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/25/2016 15:20,2.45,3.00,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...
466669,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 18:35,3.60,2.11,3.00
466670,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 18:25,3.65,2.08,3.00
466671,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 13:35,3.65,2.10,2.95
466672,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 13:40,3.75,2.05,3.00
466673,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 18:10,3.85,2.01,3.00